.abt-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88.5vh;
}
.abt-sec h2{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 2%;
}
.abt-sec p{
    font-size: 16px;
    margin-bottom: 5%;
    text-align:justify;
}
.abt-sec a{
    width: 20%;
    text-align: center;
    color: #e5e8e8;
    /* box-shadow: inset 0px 0px 10px 0px #000000;
    background-color: #3757a0; */
    background-color: #122765c7;
    /* box-shadow: 0px 0px 11px 0px blue; */
    padding: 2% 2%;
    border-radius: 22px;
    font-size: 14px;
    width: 100px;
    font-weight: 500;
}
.img-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88.5vh;
}

.links .button-81 {
    background-color: #a8abbc;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  @media (min-width: 768px) {
    .links .button-81 {
      font-size: 2.125rem;
      padding: 1rem 2rem;
    }
  }
  
  
  .links .button-81:hover {
    background-color: #1e293b;
    color: #fff;
  }



@media (max-width:770px) and (min-width:225px){
    .abt-sec h2{
        font-size:35px;
    }
    .abt-sec p{
        font-size:15px;
    }
    .abt-sec{
        height:88.7vh;
    }
    .img-wrap{
        display:none;
    }
}
