.abt-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88.5vh;
}
.abt-sec h2{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 2%;
}
.abt-sec p{
    font-size: 16px;
    margin-bottom: 5%;
}
.abt-sec a{
    width: 20%;
    text-align: center;
    color: #e5e8e8;
    background-color: #646495;
    /* box-shadow: 0px 0px 11px 0px blue; */
    padding: 2% 2%;
    border-radius: 22px;
    font-size: 14px;
    font-weight: 500;
}
.img-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 88.5vh;
}



@media (max-width:770px) and (min-width:225px){
    .abt-sec h2{
        font-size:35px;
    }
    .abt-sec p{
        font-size:15px;
    }
    .abt-sec{
        height:88.7vh;
    }
    .img-wrap{
        display:none;
    }
}
