.card{
    width:100%;
    float: left;
    margin-top: 30px;
    box-shadow: 7px 7px 13px grey;
}
.club-content{
    width: 100%;
    float: left;
    min-height: 250px;
    padding: 50px 0px;
}
.image img{
    width:100%;
    min-height: 250px;
    padding: 15px;
}

.btn{
        width: 100%;
        align-items: center;
        /* border: 1px solid #d0d0d0; */
}

.title{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0px;
}
.para{
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    padding: 10px 0px;
    color:black;
}
.head{
    
    margin:auto;
    font-weight:bolder;
}
.head h1 p{
    text-align: center;
}

.head h1{
    font-weight:bold;
}

.head h1 span{
    font-size:24px;
    color:rgb(2, 87, 80);
    border: solid 2px black;
    border-radius:5px;
    margin-right:60px;
    float:right;
    padding: 2px 1.2%;
}

.head h1 span .fa{
    color:rgb(16, 3, 128);
}

/*Create Club CSS*/
#form{
    
    width: 500px;
    margin: 0 auto;

}

.title h3{
    font-weight:bold;
}

#form{
    padding:5px;

}

#submit{
margin-top:20px;
}

input [ type = file]{
    display: none;
}
input::placeholder {
    color:grey
}
textarea{
    color: black !important;
}
textarea :focus, input:focus{
    color:black !important;
}

.data{
    width: 100%;
    float: left;
}