.card{
    width:100%;
    float: left;
    margin-top: 30px;
    box-shadow: 7px 7px 13px grey;
}
.club-content{
    width: 100%;
    float: left;
    min-height: 250px;
    padding: 50px 0px;
}
.image img{
    width:100%;
    min-height: 250px;
}

.btn{
    width: 100%;
    align-items: center;
}

.title{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
}

.head{
    
    margin:auto;
    font-weight:bolder;
}
.head h1 p{
    text-align: center;
}

.head h1{
    font-weight:bold;
}

.head h1 span{
    font-size:24px;
    color:rgb(2, 87, 80);
    border: solid 2px black;
    border-radius:5px;
    margin-right:60px;
    float:right;
}

.head h1 span .fa{
    color:rgb(16, 3, 128);
}

/*Create Club CSS*/
#form{
    
    width: 500px;
    margin: 0 auto;

}

.title h3{
    font-weight:bold;
}

#form{
    padding:5px;

}

#submit{
margin-top:20px;
}