.desc{
    border:2px solid white;
    width:80%;
   
   
    color:aliceblue;
    
    padding:5px;
    display: inline-block;

    background-color: rgb(0, 3, 3);
    background-color: rgb(25 250 250 / 26%);
    border-radius: 0px 20px 20px 0px;
    min-height: 80px;
}

.date{
    background-color: white;
    width: 20%;
    font-size: 18px;
    color: saddlebrown;
    padding: 5px;
    float: left;
    min-height: 80px;
}

.event{
    width: 80%;
    margin:auto;
    /* margin-left: 38px; */
    min-height:80px;
    max-height:150px;
    margin-bottom: 10px;

}
.desc .event_name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 18px;
    
}

.desc .event_time{
    color:grey;
    
}

/* pop-up event design  */


.pop-up {
    position:absolute;
    height: 673px;
    width:100%;
    background-color:rgba(0,0,0, .4);
    top:0;
    left:0;
    visibility:hidden;
    opacity:0;
    transition:all .3s;
    
    display:flex;
    align-items:center;
    justify-content:center;
  } /* Background */
  
  .pop-up:target {
    visibility:visible;
    opacity:1;
  } /* */
  
  .pop-up__content {
    height:300px;
    width:75%;
    background-color: #e5e8f0;
    border-radius:8px;
    
    transform:scale(.5);
    transition: all .5s;
    
    position:relative;
    padding: 24px;
  }
  
  .pop-up:target .pop-up__content {
    transform:scale(1)
  }
  
  .pop-up__close {
    position: absolute;
    top: 2px;
    right: 20px;
    color: #546247;
    font-size:25px;
    font-weight:700;
  }
.pop-up__content h4{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  color: cadetblue;
}
.pop-up__content, .about_event_detail{
  color: #014f52;
  font-size: 14px;
}
/* .about_event_detail{
  color:black;
} */
.pop-up__content a{
  border-radius: 11px;
  padding: 5px;
  color: #074b4e;
  background-color: #8db9ba6e;
  text-decoration: none;
}