#side-navbar{
  width:12%;
}
.col-sm-8 .box{
    margin: 0px;
    /* height: 99px; */
    width: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-left: 30px; */
    /* box-shadow: rgb(44 150 187 / 20%) 0 -25px 18px -14px inset, rgb(44 182 187 / 15%) 0 1px 2px, rgb(44 171 187 / 15%) 0 2px 4px, rgb(44 150 187 / 15%) 0 4px 8px, rgb(44 187 139 / 15%) 0 8px 16px, rgb(44 103 187 / 15%) 0 16px 32px; */
    border: 1px solid black;
    border-radius: 25px;
    padding: 12px;
  }

  .sidenav img{
    display: block;
    width: 85%;
    height: 170px;
    margin: auto;
  }
  .sidenav h5{
    font-size: 20px;
    margin-top: -6px;
    color: #e5e8e8;
    margin-left: 57px;
  }
  
  .getlink{
    width: 70%;
  
    margin-left: 20% !important;
    border:1px solid white;
    border-radius:25px !important;
    box-shadow: rgb(44 150 187 / 20%) 0 -25px 18px -14px inset, rgb(44 182 187 / 15%) 0 1px 2px, rgb(44 171 187 / 15%) 0 2px 4px, rgb(44 150 187 / 15%) 0 4px 8px, rgb(44 187 139 / 15%) 0 8px 16px, rgb(44 103 187 / 15%) 0 16px 32px;
    color: #e5e8e8;
    text-align: center;
    font-size:15px !important;
    cursor: pointer !important;
    padding: 2px !important;;
  }
  
  #blog-section{
    height: 559px;
    /* border: 1px solid black; */
    /* display:none; */
    border-radius: 15px;
    margin-top: 72px;
    background-color: #122765;
    background-color: #27418f8f;
    background-color: #84909d;
    /* background-color: slategray; */
    margin-bottom: 40px;
    /* box-shadow: 0px 0px 12px 0px midnightblue; */
    box-shadow: 0px 0px 14px 0px #808083;
    width: 20%;
}


  
  
.blog-img{
  width: 35%;
  height: 88px;
}
  
  .hello-user{
    margin-top: 58px;
    font-weight: 600;
    margin-left: 48px;
    margin-left: 27px;
    text-align: left;
}
  
/*middle section*/

.middle-sec-1{
  margin-top:30px;
  
  padding:7px !important;
  text-align: justify;
}

.middle-sec-1 p{
font-size:20px;
font-weight:400;
padding: 10px;
border-radius: 16px;
border-left: 4px solid #1e293b;
}



.middle-sec-2{
  margin-top:30px;
  padding:7px;
  text-align: justify;
  
}
#num-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}
.blogs{
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 4px solid #1e293b;
  border-radius: 16px;
  overflow: hidden;
  background-color: #e5e8e8;
  /* box-shadow: rgb(44 150 187 / 20%) 0 -25px 18px -14px inset, rgb(44 182 187 / 15%) 0 1px 2px, rgb(44 171 187 / 15%) 0 2px 4px, rgb(44 150 187 / 15%) 0 4px 8px, rgb(44 187 139 / 15%) 0 8px 16px, rgb(44 103 187 / 15%) 0 16px 32px; */
  margin: 10px;
  color: black;
  gap: 8px;
}
.middle-sec-2 p{
  font-size:20px;
  font-weight:400;
  padding: 10px;
  border-radius: 16px;
  border-left: 4px solid #1e293b;
  }

  .middle-sec-3{
    margin-top:30px;
    padding:7px;
    text-align: justify;
    display:none;
  }

  .middle-sec-3 p{
    font-size:20px;
  font-weight:400;
  padding: 10px;
  border-radius: 16px;
  border-left: 4px solid #1e293b;
  }

  .button-81 {
    background-color: #a8abbc;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-81:hover {
    background-color: #1e293b;
    color: #fff;
  }

  .links{
    text-align:center;
  }
  
  @media (min-width: 768px) {
    .button-81 {
      font-size: 2.125rem;
      font-size: 1.625rem;
      padding: 1rem 2rem;
    }
  }
  
  .users{
    background-color: #8FC1A9;
  }
  
  .blog{
  background-color: #9DBAD5;
  }
  .resources{
  background-color:#DAB5D2;
  }
  .club{
  background-color:#E8CAB9;
  }
  
  #blog-section h2{
    text-align: center;
    color: #e5e8e8;
  }  
.blog-content{
  gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 410px;
}
.icon{
    width: 50px;
    border: 2px solid;
    padding: 8px;
    background-color: #335b9a2b;
    border-radius: 20px;
}
.numb{
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
}

.blogs a{
  color: black;
    text-decoration: none;
}
.content{
  width: 100%;
  float: left;
  padding: 10px 20px;
  margin-bottom: 2% !important;
}

@media (max-width: 1240px){
  #Ham{
    display: none;
  }
  .col-sm-6 {
    width: 90%;
    margin-bottom: 15px;
    padding: 0px;
  }
  .middle-sec-1 p, .middle-sec-2 p, .middle-sec-3 p{
    font-size: 18px;
  }
  #blog-section{
    width: 28%;
    margin-top: 12rem;
  }
}

@media (max-width: 1240px) and (min-width: 1015px){
  #side-navbar {
    width: 1%;
  }
  .blog-img {
    height: 80px;
}
#num-box{
  justify-content: flex-start;
  gap: 4%;
  row-gap: 0px;
  flex-wrap: wrap;
}
.col-sm-8 .box{
  width: 22%;
}
  h4{
    font-size: 17px;
  }
}

@media (max-width: 1015px) and (min-width:768px) {
  #side-navbar{
    width: 0%;
  }
  .col-sm-8{
    width: 64.666667%;
  }
  #num-box{
    flex-wrap: wrap;
    column-gap: 38px;
    row-gap: 0px;
  }
  .col-sm-8 .box{
    width: 45%;
  }
  #blog-section {
    width: 33%;
}
.blog-content{
  justify-content: unset;
}
  .blogs{
    margin: 4px;
  }
  h4{
    font-size: 16px;
  }
}

@media (max-width:770px){
  #blog-section{
    display:none;

  }
  .middle-sec-3{
    display:block;
  }
}

@media (max-width:450px) and (min-width:330px){
  #num-box{
    flex-wrap:wrap;
  }
  .col-sm-8 .box{
    width:41%;
  }
}

@media(max-width:330px){
  #num-box{
    flex-wrap:wrap;
    row-gap: 0px;
    column-gap: 20px;
  }
  .col-sm-8 .box{
    width:83px;
  }

}