body {
    background: rgb(51, 31, 31)
}
.container{
    width: 90% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.5vh;
}
.card {
    width: 100%;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 92px;
    margin-bottom: 92px;
    padding: 2% 2%;
    background-color: #64649563;
    min-height: 300px;
}

.card:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #646495;
    transform: scaleY(1);
    transition: all 0.5s;
    transform-origin: bottom
}

.card:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: #646495;
    transform: scaleY(0);
    transition: all 0.5s;
    transform-origin: bottom
}
.edit{
    display: flex;
    justify-content: flex-end;
    /* margin-top: -64px; */
    margin-bottom: 15px;
}

.text-center{
    text-align: center;
    margin-left: 2%;
}
.card:hover::after {
    transform: scaleY(1)
}

.fonts {
    width: 100%;
    font-size: 20px;
    margin-top: 12px;
}

.social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0
}

.social-list li {
    padding: 10px;
    color: #8E24AA;
    font-size: 19px
}

.buttons button:nth-child(1) {
    border: 1px solid #122765 !important;
    background-color: #e5e8e8;
    color: #122765;
    height: 40px
}

.buttons button:nth-child(1):hover {
    background-color: #122765;
    color: #e5e8e8;
    height: 40px;
}

.buttons button:nth-child(2) {
    border: 1px solid #122765 !important;
    background-color: #122765;
    color: #e5e8e8;
    height: 40px
}
.text-center h5{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
@media (max-width: 800px){
    #Ham{
        display: none;
    }
    .col-sm-8{
        width: 93.666667% !important;
        margin: 0px 4%;
    }
    .fonts{
        font-size: 16px;
    }
}
@media (min-width:800px) and (max-width: 1100px){
    #Ham{
        display: block;
        width: 26% !important;
    }
}
@media (min-width:1100px){
    #Ham{
        display: block;
        width: 19% !important;
    }
}
@media (max-width: 350px){
    .text-center img{
        width: 150px !important;
    }
    .buttons button:nth-child(1) {
        height: 34px;
        margin: 5px;
    }
    .buttons button:nth-child(2) {
        height: 34px
    }
}