.form{
    margin: auto;
    width: 50%;
  }
  
  .margin{
    margin: 12px 4px;
  
  }

  .buton{
      color: #e5e8e8 !important;
      background-color: #122765 !important;
      border-color: #2e6da4 !important;

  }
  
  .box-club{
    background-color: #6e6ea1ad;
    width: 60%;
    margin: 8% auto;
    /* border-radius: 48px; */
    padding: 11px;
    /* box-shadow: 7px 7px 13px grey; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  /* .col-md-7{
    margin-top: 95px;
    margin-bottom: 95px;
  } */
  .form-style{
    
    width: 100%;
  }
  .checkbox-link{
    margin: 24px;
     width: 20% !important;
  }
  .form-style-checkbox{
    width: 60%;
    float: right;
    /* padding: 10px; */
  }
  label{
    margin-top: 4px;
  }

  input{
    color:#e5e8e8;
  }

  label{
    color:black;
  }
  /* 
  .marg{
    margin-top: -25px;
  } */
  
  /* Create Post  */
  
  .checkbox12{
    float: left;
    width: 80% !important;
    display: inline !important;
    margin-top: 0px;
  }
  
  /*btn*/
  .log-btn{
  margin-top:146px;
  }
  input[type = "submit" ]{
      
  }