#resourceForm{
    width: 300px;
    float: left;
    display: block;
}
.btn-btn-style{
    color: #ffffff;
    background-color: #365291;
    border-radius: 26px;
    padding: 8px 28px;
    display: none;
}
.wdthf{
    width: 100%;
    float: left;
}
/* .input{
    float: right;
} */
.heading{
    width: 100%;
    font-size : 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline-block;
}
/* .left{
    margin-left: 78px;
} */

/*Scroll-bar*/
#scroll{
    height:400px;
    overflow:hidden;
    overflow-y:scroll;

}
.vl {
  border-left: 4px solid rgb(10, 10, 10);
  height: 406px;
  padding-left: 28px;
  margin-top: 100px;
    z-index: 12;
  
}

.center{
    text-align: center;
}
.btn-style{
    text-decoration: none;
    margin: 4px;
    padding: 10px 48px;
    font-size: 16px;
    /* border-color: transparent;
    color: #e2e0e0;
    background-color: #1b8eb6;
    border-radius: 30px; */
    font-weight: bold;
    border-color: transparent;
    color:  #ffffff;
    background-color: #045a78;
    border-radius: 20px;
}
input[type = button]{
    text-decoration: none;
    margin: 4px;
    padding: 10px 48px;
    font-size: 16px;
    border-color: transparent;
    color: #e2e0e0;
    background-color: #1b8eb6;
    border-radius: 30px;
}

.hl{
    border-bottom: 3px solid #bab4b4;
    width: 100%;
}

.mg{
    margin-bottom: 20px;
    padding-bottom: 40px;
}
.filestyle{
    width:100%;
    float: right;
    /* margin:0px 40px; */
}

.box{
    /* margin: 20px 33px;
    float: left; */
    text-align: center;
    width: 100%;
    margin: 20px 5px;
    float: left;
}
.box p{
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.open-file-style{
    text-align: center;
    margin: 4px;
    padding: 10px 48px;
    font-size: 16px;
    border-color: transparent;
    color: #faf5f5;
    background-color: #3a484e;
    border-radius: 30px;
    transition: none;
}
.open-file-style a{
    color: #faf5f5;
}

.open-link-style{
    text-align: center;
    margin: 8px;
    padding: 6px 3px;
    font-size: 14px;
    /* border-color: transparent; */
    color: #faf5f5;
    background-color: #c1dbe6;
    border-radius: 30px;
    transition: none;
}
.open-link-style a{
    color: #045a78;
}
.open-link-style :hover{
    color: white;
}

/* Table  */

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 28px;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #49718c;
        color: white;
  }
  @media screen and (max-width: 1230px) {
    #top-nav .topnav .fa{display:block;}
    #Ham {display: none;}
    .col-sm-1 {width: 0px;}
    /* .col-sm-2 {float:unset;} */
    .btn-btn-style{display: block;}
  }
  @media scree and (max-width: 1200px){
    #resourceForm{display: none;}
  }