.Data{
    width: 300px;
    float: left;

}
/* .input{
    float: right;
} */
.heading{
    width: 100%;
    font-size : 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: inline-block;
}

.vl {
  border-left: 6px solid rgb(10, 10, 10);
  height: 500px;
  position:fixed;
  right: 131px;
    top: 80px;
}

.filestyle{
    width:100%;
    float: right;
    /* margin:0px 40px; */
}

