*{
    /* background-color: blanchedalmond; */
    margin: 0px;
    
}
/* body{
    background-image: url(img/book\ shell.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0.8;
} */
.paddoff{
    padding: 0px !important;
}

.headder{
    width: 100%;
    background-color: #122765;
    height: 100vh;
}

.landing-img{
    width: 70%;
}

.account h5,button{
    display: inline;
}
.btn-btn{
    color: #122765b8;
    cursor: pointer;
}
.btn-btn:hover{
    color: #122765;
    cursor: pointer;
}

.show{
    visibility: hidden;
}
.hide{
    visibility: visible;
}

.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.log-in{
    /* width:100%;
	margin:auto;
	max-width:525px;
	min-height:713px;
	position:relative;
    color: whitesmoke;
    background-image:url(../img/book_shell.jpg);
    background-position:left;
    background-repeat: no-repeat;
    box-shadow: gray; */
    /* position: static; */

/* border: blue 2px solid; */
}
.height-100vh{
    height: 100vh;
}
.login-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-html{
    width: 100%;
    color: black;
    padding: 20px;
    padding: 26px 20px;
    /* border: 2px solid black; */
    border-radius: 25px;
    background-color: #eafaff;
    box-shadow: inset 0px 0px 30px rgb(132 177 211);

}
.middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form{
    width: 85%;
}
.login-html header{
    cursor: pointer;
    padding: 12px;
}
.login-html li:hover{
    text-decoration: underline;
    text-decoration-color: blue;
}
.login-html ul{
    list-style: none;
}
.login-html li{
    margin-right: 22px;
    display: inline;
    font-size: large;
    color: white;
    cursor: default;
}

.bradius{
    border-radius: 34px !important;
    margin: 2px 0px;
    background-color: #b1d2dc70 !important;
    color: #000 !important;
    border: 1px solid #b6c9db !important;
}
input{
    margin: 3px;
}

.line{
    width:100%;
}
.log-btn{
    width: 100%;
    color: white;
    border-radius: 34px;
    background-color: #122765;
    height: 34px!important;
    padding: 6px 12px !important;
}
hr{
    border-top: 1px solid gray !important;
}
.hgt{
    height: 425px;
}
.btn h5{
    display: block;
}
.margin{
    margin: 6px 4px;
}

.icon{
    float: right;
    margin-top: -25px;
    margin-right: -13px;
    width: 3%;
    height: 12px;
}